  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    width: 84%;
    height: 75%;
    border-radius: 5em;
    overflow: hidden;
    box-shadow: 0 10px 20px #dbdbdb;
    font-family: sans-serif;
    background: white;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.palette {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    pointer-events: auto;
}

.color {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: 0.3s ease-in-out;
    box-sizing: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.color span {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

:root {
    --translate-x: 0;
    --translate-y: 0;
}



#color1 {
    background: #62D2A2;
    rotate: 45deg;
    translate:calc(-1*var(--translate-y)) calc(-1*var(--translate-x));
    outline: 0 solid #62D2A2;
    z-index: 9;
}

#color1.active {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #62D2A2;
}

#color2 {
    background: #D7FBE8;
    rotate: 45deg;
    translate:calc(-1*var(--translate-x)) calc(-1*var(--translate-y));
    outline: 0 solid #D7FBE8;
    z-index: 9;
}

#color2.active {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #D7FBE8;
}

#color2 span {
    color: #1A1A1A;
}

#color3 {
    background: #9DF3C4;
    rotate: 45deg;
    translate:calc(var(--translate-y)) calc(var(--translate-x));
    outline: 0 solid #9DF3C4;
    z-index: 9;
}

#color3.active {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #9DF3C4;
}



#color4 {
    background: #1FAB89;
    rotate: 45deg;
    translate:calc(var(--translate-x)) calc(var(--translate-y));

    outline: 0 solid #1FAB89;
    z-index: 9;
}

#color4.active {
    translate: 0 0;
    rotate: 0deg;
    z-index: 99;
    outline: 20px solid #1FAB89;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.color.active .close-icon {
    display: flex;
}
