body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.welcome {
    font-size: 4em;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}
