body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
    text-align: center;
}

#quiz-container {
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answers {
    margin-top: 1em;
}

.answer-btn {
    display: block;
    margin: 0.5em 0;
    padding: 1em;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.answer-btn:hover {
    background-color: #0056b3;
}

#timer {
    margin-top: 1em;
    font-size: 1.2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.circles,
.browser {
    height: 30px;
    display: flex;
    align-items: center;
}

.circles {
    width: 100%;
    gap: 8px;
    /* padding: 10px;   */
}

.c {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px rgba(235, 235, 235, 0.356);
}

.c:first-child {
    background-color: red;
}

.c:nth-child(2) {
    background-color: rgb(204, 167, 4);
}

.c:last-child {
    background-color: green;
}

.browser {
    width: 100%;
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.chevrons {
    display: flex;
}

.search-bar {
    position: relative;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 0px;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: rgb(88, 88, 88);
    box-shadow: inset 2px 2px 2px #05050525;
}

.search-bar svg {
    position: absolute;
    left: 10px;
}

.content {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
}

.welcome-screen {
    display: flex;
    flex-direction: row;
    gap: 7px;
    position: relative;
    color: gray;
  }
  
  .welcome-screen .label {
    font-size: 24px;
    padding-left: 10px;
    position: absolute;
    top: 8px;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .input {
    width: 80%;
    height: 45px;
    border: none;
    outline: none;
    padding: 2px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .input:focus {
    border: 2px solid transparent;
    color: black;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .welcome-screen .input:valid ~ .label,
  .welcome-screen .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
  }
  
  .welcome-screen .input:valid,
  .welcome-screen .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

  #start-quiz-btn {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    margin-left: 5px;
    font-weight: bolder;
   }
   
   #start-quiz-btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   #start-quiz-btn:hover::before {
    width: 9em;
   }